.End {
	min-height: 30vh;
	background-color: rgb(248, 248, 248);
	background-image: url('../images/blueCastle.png');
  background-size: cover;
  background-repeat: no-repeat;
  outline: 0px solid blue;
  justify-content: center;
  display: flex;
 }
 
.End #endspan {
	margin-top: auto;
 	font-weight: 400;
  color: #FFFFFF;
  font-size: 1rem;
}
