.Form {
	background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1rem 5rem 1rem;
  font-size: 2rem;
}
#contact {
 	display: grid;
 	flex-direction: column;
 	grid-template-columns: 50% 50%;
  grid-template-rows: 25% 25% 25% 25%; 
 	width: 90vw;
 	margin-top: 2rem;
}
.grid-form {

}
.grid-form5 {
	grid-column: 1 / 3;
	grid-row: 3 / 4;
}
.grid-form6 {
	outline: 1px solid green;
	grid-column: 1 / 2;
	grid-row: 4 / 5;
}
input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  background-color: #FFFFFF;
  margin-bottom: 0.5rem;
  border: 1px solid rgb(174,174,174);
  height: 2.0rem;
  width: 90%;
  margin-bottom: 1.5rem;
}
textarea {
 	height:12rem;
 	width: 95%;
 	margin-top: 0.5rem;
}
input:focus,
textarea:focus{
  outline: none;
  border: 1px solid #00ccff;
}
.Form #contact #submit {
  background-color: rgba(50, 118, 186, 0.9);
  color: #FFFFFF;
  border: none;
  padding: 1rem 0rem 1rem 0rem;
  width: 20%;
  font-size: 1rem;
}
#contact .grid-form label {
	color: #000000;
	display: block;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.0rem;
}




@media only screen and (max-width: 900px) {
	.Form {
  	background-color: #fff;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	padding: 1rem 1rem 3rem 1rem;
	}
	#contact {
 	 display: flex;
 	 flex-direction: column;
 	 width: 65vw;
	}
	input[type="text"],
	input[type="tel"],
	input[type="email"],
	textarea {
	  background-color: #fff;
 	 	margin-bottom: 0.5rem;
 	 	border: 1px solid rgb(174,174,174);
 	 	height: 1.5rem;
 	 	width: 100%;
	}
	textarea {
 	 height: 8rem;
	}
	input:focus,
	textarea:focus{
	  outline: none;
 	 	border: 1px solid #00ccff;
	}
	#contact label {
		color: #fff;
		display: block;
  	font-size: 0.8rem;
  	font-weight: 777;
	}
	.Form #contact #submit {
  	background-color: cyan;
	}
	.Form #contact #submit {
  	background-color: rgb(0, 90, 170);
  	padding: 0.3rem 0.3rem 0.3rem 0.3rem;
  	border: none;
  	width: 10vw;
	}
}
