.FrontText {
outline: 0px dotted green;
text-align: center;
color: rgb(237,62,62);
padding: 0rem 7vw 0rem 7vw;
}
.FrontText p {
font-size: 1.8rem;
font-weight: 700;
}

@media only screen and (max-width: 600px) {
	.FrontText p {
		font-size: 1rem;
	}
}
